VITE_WS_URL="https://dev.oqucat.dav-dev.kz/"
VITE_API_URL="https://dev.oqucat.dav-dev.kz/api/"
VITE_WEB_GOOGLE_CLIENT_ID="000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
VITE_ANDROID_GOOGLE_CLIENT_ID="000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
VITE_TG_BOT="oqucat_test_bot"
VITE_VAPID_KEY="xxxxx87"
VITE_APP_NAME="OquCat"
VITE_CLOUDFLARE_SITE_KEY="0xxxxxxxxxx-xxxxxxxxxxxx"

TELEGRAM_CLIENT_ID="0000000000"
TELEGRAM_REDIRECT_URI="https://app0000000000-login.tg.dev"

# DEV ONLY
SERVER_HOST="11.22.33.44"
SERVER_USER="root"
SERVER_PORT="22"
DEST_FOLDER="/var/www/oqucat-client/"
