DEV="true"
PORT="3500"
APP_NAME="OquCat"
LOG_LEVEL="debug"
DATA_DIR="/var/www/oqucat-data"
# DATA_DIR="C:\srv\oqucat-data"
SECRET_KEY="xxxxxxxxxxxxxxxxx"

CLIENT="https://oqucat.dav-dev.kz"
SERVER="https://oqucat.dav-dev.kz/api"

DB_NAME="oqucat"
DB_USER="postgres"
DB_PASSWORD="12341234"
DB_HOST="localhost"
DB_PORT="5432"

LLM_KEY="sk-xxxxxxxxx"
LLM_HOST="https://api.openai.com/v1/"
LLM_MODEL="gpt-4o-mini"
LLM_REALTIME_MODEL="gpt-realtime-1.5"
LLM_TTS_MODEL="gpt-4o-mini-tts"
LLM_TTS_VOICE="coral"

BETTER_AUTH_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
BETTER_AUTH_URL="https://oqucat.dav-dev.kz"

ROOT_EMAIL="root@oqucat.dav-dev.kz"
ROOT_PASSWORD="xxxxxxxxxxxxxx"

TG_KEY="0000000000:xxxxxxxxxxxxx"
TG_USERNAME="oqucat_vasya_bot"
TG_OIDC_CLIENT_ID="0000000000"
TG_OIDC_CLIENT_SECRET="xxxxxxxxxxxxxxx"

CLOUDFLARE_SITE_KEY="xxxxxxxxxx-xxxxxxxxxxxx"
CLOUDFLARE_SITE_SECRET="xxxxxxxxxx-xxxxxxxxxxxx"

GITHUB_CLIENT_ID="xxxxxxxxxx"
GITHUB_CLIENT_SECRET="xxxxxxxxxxxxxxx"

FACEBOOK_CLIENT_ID="xxxxxxxxxx"
FACEBOOK_CLIENT_SECRET="xxxxxxxxxxxxxxx"

GOOGLE_ANDROID_CLIENT_ID="000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
GOOGLE_WEB_CLIENT_ID="000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="xxxxxxxxxxxxx"

FIREBASE_SERVICE_ACCOUNT='{"type": "service_account","project_id": "xxxxxxxxxxx","private_key_id": "xxxxxxxxxxxxxxx","private_key": "xxxxxxxx","client_email": "xxxxxxxxxxxx","client_id": "xxxxxxxxxxxxx","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "xxxxxxxxxxxxxx","universe_domain": "googleapis.com"}'

# DEV ONLY
SERVER_HOST=11.22.33.44
SERVER_USER=root
SERVER_PORT=22
DEST_FOLDER=/root/oqucat-server/
